.idea/
**/tmp
terraform/.terraform
terraform/.terraform.lock.hcl
.DS_Store
**/.gradle
_cacache
_logs
_update-notifier-last-checked
_npx
**/build
**/build/tmp
.env
.env.backend.local
.env.frontend.local
*.md5
## AIRFLOW
workflows/logs
workflows/config
workflows/plugins
workflows/dags/__pycache__/
.localstack
__pycache__
dbt/*/venv/
dbt/ga4_biquery_prestage/.venv/
dbt/ga4_biquery_prestage/dbt_packages/
dbt/ga4_biquery_prestage/logs/
dbt/ga4_biquery_prestage/package-lock.yml
dbt/ga4_biquery_prestage/target/
dbt/logs/
dbt/materialbank/.tmp
frontend/newrelic_agent.log
playwright-report
test-results
/services/eratosthenes/deployments/clickhouse-data/
/logs/*
.idea
*.iml
